
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Range Thumb */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  background: #D96073; 
  border: 4px solid #ffffff;
  border-radius: 9999px;
  cursor: pointer;
  appearance: none;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 24x;
  height: 24px;
  background: #D96073;
  border-radius: 9999px;
  cursor: pointer;
  appearance: none;
}
